# SENHAUNICA-SOCIALITE ######################################
# https://github.com/uspdev/senhaunica-socialite

# Credenciais/informações do oauth
SENHAUNICA_KEY=fflch_sti
SENHAUNICA_SECRET=sua_super_chave_segura
SENHAUNICA_CALLBACK_ID=85

# URL do servidor oauth no ambiente de dev (default=no)
#SENHAUNICA_DEV="https://dev.uspdigital.usp.br/wsusuario/oauth"

# URL do servidor oauth para uso com senhaunica-faker
#SENHAUNICA_DEV="http://127.0.0.1:3141/wsusuario/oauth"

# Desabilite para não salvar o retorno do oauth em storage/app/debug/oauth/ (default=true)
#SENHAUNICA_DEBUG=

# AS CONFIGURAÇÕES A SEGUIR são relevantes se permission=true

# Esses usuários terão privilégios especiais
#SENHAUNICA_ADMINS=11111,22222,33333
#SENHAUNICA_GERENTES=4444,5555,6666

# Se os logins forem limitados a usuários cadastrados (onlyLocalUsers=true),
# pode ser útil cadastrá-los aqui.
#SENHAUNICA_USERS=777,888

# Se true, os privilégios especiais serão revogados ao remover da lista (default=false)
#SENHAUNICA_DROP_PERMISSIONS=

# Código da unidade para identificar os logins próprios ou de outras unidades
# Ex: se for da unidade aparece Servidor e Servidor.dvfin, onde dvfin é o setor do usuário, caso contrário aparece Servidorusp
# Pode ser uma lista de códigos separado por vírgula
SENHAUNICA_CODIGO_UNIDADE=

# Desabilita a funcionalidade assumir identidade (habilitado por padrão)
SENHAUNICA_DISABLE_LOGINAS=

# Controla se a sessão deve ser persistida (default = true)
SENHAUNICA_REMEMBER_SESSION=

